/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn {
    background-color: #ff0420;
    color: aliceblue;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 8px;
}

.container {
    padding: 10px;
}